*.suo
*.db
*.opendb
*.ipch
*.iobj
*.ipdb
*.pch
*.user
*.mcp
*.obj
*.log
*.tlog
*.lastbuildstate
*.dll
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.idb
*.aps
*.res
.vs/*
Packaged/*
DebugData/*
ReleasePkg/*
InstallerPackages/*
*.msi
*.wixpdb
*.wixobj
*.CopyComplete
ReleasePackageInstaller/obj/*
ReleasePackageInstaller/bin/*
ReleasePackageInstaller/AerofoilPackageDefs.wxi
ReleasePackageInstaller/AerofoilPackageVersion.wxi
packages/*
