*.suo
*.db
*.opendb
*.ipch
*.iobj
*.ipdb
*.pch
*.user
*.mcp
*.obj
*.log
*.tlog
*.lastbuildstate
*.dll
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.idb
*.aps
*.res
*.a
*.recipe
*.FileListAbsolute.txt
.vs/*
Packaged/*
DebugData/*
ReleasePkg/*
InstallerPackages/*
*.msi
*.wixpdb
*.wixobj
*.CopyComplete
*.lnk
*.cmake
ReleasePackageInstaller/obj/*
ReleasePackageInstaller/bin/*
ReleasePackageInstaller/AerofoilPackageDefs.wxi
ReleasePackageInstaller/AerofoilPackageVersion.wxi
packages/*
!SDL2-2.30.5/lib/x64/*
CMakeCache.txt
CMakeFiles/*
Makefile
SDL2-2.30.5/CMakeFiles/*
SDL2-2.30.5/build
SDL2-2.30.5/config.status
SDL2-2.30.5/libtool
SDL2-2.30.5/Makefile.rules
SDL2-2.30.5/sdl2.pc
SDL2-2.30.5/sdl2-config
SDL2-2.30.5/test/*
install_manifest.txt

## macOS
.DS_Store

## Xcode projects
AerofoilMac/xcuserdata/
AerofoilMac/*.xcodeproj/xcuserdata/
AerofoilMac/build/
AerofoilMac/DerivedData/
*.xcuserstate
SDL2-2.30.5/Xcode/SDL/SDL.xcodeproj/xcuserdata/*
AerofoilMac/Resources/*.gpf
AerofoilMac/Resources/Houses/*.gpf
AerofoilMac/*.xcodeproj/project.xcworkspace/xcuserdata
